<div class="parent">
  <div style="text-align: center;">
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
    <ng-template #guest>
      <div>
        <button mat-button (click)="auth.googleAuth()">
          Enter
        </button>
      </div>
    </ng-template>
    <ng-template #authenticated>
      <div *ngIf="auth.song$ | async as song">
        <h2>
          Hello, {{ song.name }}!
        </h2>
        <img [src]="song.picture" />
      </div>
      <div *ngIf="auth.user$ | async as user">
        <button mat-button (click)="auth.signOut()">
          Exit
        </button>
      </div>
    </ng-template>
  </div>
</div>
