:host {
  align-items: center;
  color: #717f77;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dae59b;
}

h3 {
  margin-top: 23vh;
}

.mat-grid-list {
  margin-top: 3vh;
  width: 75%;
}

a.mat-icon-button {
  color: white;
}

.mat-grid-tile {
  background-size: cover;
}
