:host {
  align-items: center;
  color: #717f77;
  display: flex;
  height: 95%;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dae59b;
}

.mat-list-item {
  color: #717f77;
}
