:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dae59b;
}

.mat-icon-button {
  color: #dae59b;
}

.mat-card {
  background: #717f77;
  margin-top: 23vh;
  width: 75%;
}
