<ng-container *ngIf="recommendation$ | async as recommendation; else loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><i>{{recommendation.title}}</i> by
        {{recommendation.artist}}</mat-card-title
      >
      <mat-card-subtitle>{{recommendation.album}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <iframe
        [src]="recommendation.apple_music_player_url | safe: 'resourceUrl'"
        width="100%"
        frameborder="0"
      ></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a
        *ngIf="{status: liked$ | async} as liked"
        mat-icon-button
        title="Like"
        [disabled]="liked.status"
        (click)="likeRecommendation(recommendation)"
        ><mat-icon>{{!liked.status ? 'add': 'check'}}</mat-icon></a
      >
      <a mat-icon-button title="Next Track" (click)="window.location.reload()"
        ><mat-icon>skip_next</mat-icon></a
      >
      <a
        mat-icon-button
        title="Lyrics"
        target="_blank"
        [attr.href]="recommendation.url"
        ><mat-icon>art_track</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-progress-spinner
    strokeWidth="5"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
