:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  background: #f1f1e7;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dae59b;
}

:host .mat-icon-button {
  color: #dae59b;
}

:host .mat-card {
  width: 75%;
  background: #717f77;
}
